*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 21, 21);
}

#map{
    width: 100%;
    height: 100%;
}

.selector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    gap: 20px;
}

.selector div {
    padding: 20px 40px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.login-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(211, 211, 211);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#teamlogo {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/047/832/199/small/colorful-paint-drips-on-white-background-free-png.png);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    
}

#projectname {
    font-size: xxx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: rgb(234, 233, 233);
    background-image: url(https://img.freepik.com/free-vector/abstract-colorful-watercolor-brush-stroke-design_1055-18024.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

input{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

#routeSelectStudent, #routeSelectDriver {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
button {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginid {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    color: rgb(34, 33, 33);
}